.table {
  border-collapse: collapse;
  border-spacing: 0;
}

.table__th,
.table__td {
  padding-right: 3px;
  padding-bottom: 1px;
  padding-left: 3px;
  text-align: left;
  border: 2px solid #bdbec1;
}

.table__th:first-child,
.table__td:first-child {
  width: 42px;
}

.table__th:nth-child(2),
.table__td:nth-child(2) {
  width: 45px;
}

.table__th:last-child,
.table__td:last-child {
  width: 43px;
}

.table__th {
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  vertical-align: bottom;
  background-color: #949599;
}

.table__td {
  height: 20px;
  font-size: 10px;
  white-space: pre;
  vertical-align: top;
}

.table__td:nth-child(1) {
  font-weight: 700;
}