.link {
  position: relative;
  color: #3879d9;
  text-decoration: none;
  transition-duration: .3s;
  transition-property: color;
  cursor: pointer;
}

.link::after {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 1px;
  opacity: 0;
  content: '';
  color: inherit;
  background-color: currentColor;
  transform: scaleY(.5);
  transition: opacity .2s;
}

.link:hover::after {
  opacity: 1;
}
